{% extends "layouts/base.twig" %}

{% block content %}
    <div class="container-fluid g-5 mt-5">
        <div class="row">
            <div class="col-6 offset-3">
                {% include "partials/_alert.twig" %}

                <div class="card shadow">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="card-title mb-0">Edit User {{ user.name }}</h5>
                    </div>
                    <div class="card-body">
                        <form action="/users/{{ user.id }}" method="POST">
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" name="name" placeholder="Full Name" required value="{{ user.name }}" autocomplete="name" autofocus>
                                <label for="name">Full Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email Address" required autocomplete="email" value="{{ user.email }}">
                                <label for="email">Email Address</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password" autocomplete="new-password">
                                <label for="password">Password</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="password-confirmation" name="password_confirmation" placeholder="Password Confirmation" autocomplete="new-password">
                                <label for="password-confirmation">Password Confirmation</label>
                            </div>
                            <div class="d-flex justify-content-center mt-3">
                                <a class="btn btn-primary me-3" href="/users">Back</a>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}