{% extends "layouts/error.twig" %}

{% block content %}
    <div class="text-center mt-5">
        <h1 class="display-4 text-danger">404</h1>
        <p class="lead">Oops! The page you are looking for does not exist.</p>
        <a href="/" class="btn btn-primary">Go Back Home</a>
    </div>
{% endblock %}