<!-- Sidebar Web Version -->
<div class="d-flex flex-column flex-shrink-0 p-3 bg-light sidebar shadow vh-100">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <span class="fs-4">VacaTrack</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/" class="nav-link {{ router().currentRoute() == '/' ? 'active' : 'link-body-emphasis' }}">
                <i class="bi bi-house-door me-2"></i> Home
            </a>
        </li>
        {% if session('user').role.name == 'Manager' %}
            <li class="nav-item">
                <a href="/users" class="nav-link {{ router().matches('users') ? 'active' : 'link-body-emphasis' }}">
                    <i class="bi bi-people me-2"></i> Users
                </a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a href="/vacations" class="nav-link {{ router().matches('vacations') ? 'active' : 'link-body-emphasis' }}">
                <i class="bi bi-calendar-check me-2"></i> Vacations
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle fs-4 me-2"></i>
            <strong>{{ session('user').username }}</strong>
        </a>
        <ul class="dropdown-menu text-small shadow">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout">Sign out</a></li>
        </ul>
    </div>
</div>
<!-- End of Sidebar Web Version -->