<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="/icons/favicon.ico">
        <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/icons/bootstrap-icons.css">
        <title>{{ config('app').name }}</title>
    </head>
    <body>
        <main class="container mt-4">
            {% block content %}{% endblock %}
        </main>

        <script src="/js/bootstrap.bundle.min.js"></script>
    </body>
</html>